.flash-container {
    position: relative;
    color: #fff;
}

.flash {
    position: absolute;

    width: 100%;
    padding: 10px;
    
    border-radius: 8px;
    box-shadow: 0 5px 30px #dfdfdf;
}

.flash.info {
    background-color: #337FFF;
}

.flash.success {
    background-color: #33FF33;
}

.flash.warning {
    background-color: #FF7F33;
}

.flash.error {
    background-color: #FF3333;
}