/* Flash Messages */
.flash-container {
    position: relative;

    text-align: center;
}

.flash-message {
    color: #fff;
}

.flash {
    position: absolute;

    width: 100%;
    padding: 10px;
    
    border-radius: 8px;
    box-shadow: 0 5px 30px #dfdfdf;
    background-color: #337FFF;
}