td {
    width: 100%;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: hsla(0, 0%, 90%, 0.5);
}

.grey {
    background-color: #ccc;
    font-weight: bold;
}

.std {
    min-width: 200px;
}