{% extends 'general.html' %}

{% block content %}
{{ super() }}

<div class="container">
    <h1>Админка</h1>
    <div style="background-color: rgb(200, 223, 245);">
        <h3>Добавление группы</h3>
        <form action="" method="POST">
            <div>Название (Специальность)</div>
            <input type="text" name="group_name" spellcheck="false" autocomplete="off" maxlength="64" required>

            <div>Логин</div>
            <input type="text" name="group_login" spellcheck="false" autocomplete="off" maxlength="16" required>
            
            <div>Пароль</div>
            <input type="password" name="group_password" autocomplete="off" maxlength="32" required>

            <input type="submit" name="create_group" value="Создать">
        </form>

        <h3>Список групп</h3>
        <div>
            {% if context.groups %}
                {% for group in context.groups %}
                    <p>{{ group.name }} | Добавил: {{ group.creator }} - {{ group.creation_date }}</p>
                {% endfor %}
            {% else %}
                <p>Ниодной группы ещё не создано.</p>
            {% endif %}
        </div>
    </div>

    <hr>

    <div style="background-color: rgb(238, 247, 214);">
        <h3>Добавление пользователя</h3>
        <form action="" method="POST">
            <div>Фамилия Имя</div>
            <input type="text" name="student_name" spellcheck="false" autocomplete="off" maxlength="32" required>

            <div>Группа</div>
            <select name="student_group" required>
                {% for group in context.groups %}
                <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>

            <div>Номер зачётки</div>
            <input type="text" name="student_login" spellcheck="false" autocomplete="off" maxlength="6" required>

            <input type="submit" name="add_student" value="Создать">
        </form>

        <h3>Список пользователей</h3>
        <div>
            {% if context.students %}
                {% for student in context.students %}
                    <p>{{ student.name }} ({{ context.groups[student.group-1].name }}) | Добавил: {{ student.creator }} - {{ student.creation_date }}</p>
                {% endfor %}
            {% else %}
                <p>Ниодного студента ещё не добавлено.</p>
            {% endif %}
        </div>
    </div>
</div>

<script src="../static/js/admin.js"></script>

{% endblock %}