{% extends 'general.html' %}
{% set subjects = context.Subject.query.all() %}
{% set user_subjects = context.UserSubject.query.all() %}
{% set groups = context.User.query.filter_by(status=1).all() %}

{% block content %}
{{ super() }}

<div class="container">
  <div class="content" style="width: 95%; text-align: center;">
    <img src="static/img/put.jpg" alt="" style="width: 100%; height: 130%; position: absolute; top: 0; left: 0; z-index: -1;">
    <h2>Электронный журнал России</h2>
  
    {% if session['user_status'] >= 2 %}
    <!-- <select id="subject">
      {% for user_subject in user_subjects %} {% if user_subject.user_id ==
      session['user_id'] %}
      <option value="{{ subjects[user_subject.subject_id-1].id }}">
        {{ subjects[user_subject.subject_id-1].name }}
      </option>
      {% endif %} {% endfor %}
    </select>

    <select id="group">
      {% for group in groups %}
      <option value="{{ group.id }}">{{ group.name }}</option>
      {% endfor %}
    </select> -->

    <table id="table">
      <tr id="date"><td>№</td><td class="grey">Студент</td></tr>
    </table>

    <h1 style="color: #fff; background-color: #000; padding: 10px 0;">"Тяжело в учении - легко в бою!" (с) Александр Суворов</h1>

    {% endif %}
  </div>
</div>

<script src="../static/js/index.js"></script>

{% endblock %}
